---
layout: default
title: talks
---
{% for post in site.categories.talk %}
<section class="wside post">
	<article class="group">
		<header><h1><a href="{{ post.url }}">{{ post.title }}</a></h1></header>
		{{ post.excerpt }}
		{% include break.html %}
	</article>
</section>
{% if post.talk.file %}
<aside>
	<article class="group">
		<header><h2>media</h2></header>
		<audio controls>
			<source src={{ post.file }} type="audio/mpeg">
			Your browser does not support this audio format.
		</audio>
		<a href="{{ post.file }} class="nutton">Play (or download)</a>
	</article>
</aside>
{% endif %}
{% endfor %}