RewriteEngine On

# Wiki
# Prettify sitenames for wiki-pages
# /wiki/index.php?title=$foo -> /wiki/$foo
# (t3o)
RewriteCond %{REQUEST_URI}  !^/wiki/index\.php.*
RewriteCond %{REQUEST_URI}  !^/wiki/load\.php.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^wiki/(.*)$ /wiki/index.php?title=$1 [PT,L,QSA]

<FilesMatch ".(peng|png)$">
FileETag None
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-chache"
Header set Expires "Wed, 11. Jan 1984 05:00:00 GMT"
</FilesMatch>
