---
layout: default
title: Dein Hackspace in Siegen
---
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<div class="flex">
<section class="block">
  {% for post in site.posts limit: 1 %}
  <article>
    <header>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    </header>
    {{ post.content }}
    {% include slideshare.html %}
  </article>
  {% endfor %}
  <article>
    <header><h1>news</h1></header>
    <ul>
    {% for post in site.posts limit: 5 %}
      <li><a href="{{ post.url }}">{{ post.category}}: {{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </article>
  <article>
    <header><h1>Termine</h1></header>
    {% ical summary:5 %}
  </article>
</section>
<aside>
  <article class="block">
    <header><h2>status</h2></header>
    <img height="240" src="http://raumstatus.hasi.it/56/8/white" alt="Stausanzeige">
  </article>
  <article class="block">
    <header><h2>social</h2></header>
    <ul id="social">
      <li><a href="https://www.github.com/h42i" target="_blank"><i class="github"></i>Github</a></li>
      <li><a href="https://www.twitter.com/h42i" target="_blank"><i class="twitter"></i>Twitter</a></li>
      <li><a href="https://www.flattr.com/profile/h42i" target="_blank"><i class="flattr"></i>Flattr</a></li>
      <li> {% include paypal.html %}</li>
      <li><a href="http://hasi.it/wiki/images/f/f7/Beitrittsformular.pdf" target="_blank">Mitglied werden</a></li>
    </ul>
  </article>
</aside>
</div>
