---
layout: default
title: Dein Hackspace in Siegen
---
<section class="wside">
        <!--<img src="/images/pixelhasi-text-weiß-200px.png" align="left" >
		<h1>Was bitte ist ein Hackspace?</h1>
        <p>Kurz gefasst: Kreativ-produktives Chaos.<br/>
        Eine detailiertere Erklärung findest du <a href="/about/">hier</a>.
        </p>
        <hr />
        <br />-->
        {% for post in site.posts limit: 1 %}
		<article>
			<header>
				<h1>{{ post.title }}</h1>
			</header>
			{{ post.content }}
		</article>
		{% endfor %}
        <img src="/images/pixelhasi-text-weiß.png">

</section>
<aside>
     <article>
          <br />
        <header><h1>status</h1></header>

        <?php  function showHasiRaumStatus(){
            $fc = file_get_contents('http://www.stats.l3kn.de/api/bool'); // kann auch FALSE liefern
            $fc = trim($fc); // nun ists ein string
            $color = 'gelb';
            if (in_array($fc, array('true', 'false')))
            {
                $color = ($fc === 'true') ? 'gruen' : 'rot';
            }
            echo '<img id="statusimg" src="http://hasi.it/images/ampel_' . $color . '.png"'
            . 'title="Diese Ampel zeigt den Raumstatus an. Gr&uuml;n = der Raum ist ge&ouml;ffnet." />';
            // echo '<style>#statusimg{left:0px;position: fixed;top: 135px;}</style>';
        }  ?>
        
        <?php showHasiRaumStatus() ?>

        <!--<img src="http://stats.l3kn.de/api/image" alt="Stausanzeige">-->
        <header><h1>news</h1></header>
        {% for post in site.posts limit: 4 %}
            <h4><a href="{{ post.url }}">{{ post.category}} : {{ post.title }}</a></h4>
        {% endfor %}
        <br />
    </article>
      <article>
        <header><h1>social</h1></header>
        <ul id="social">
            <li><a href="https://www.github.com/h42i" target="_blank"><i class="github"></i>Github</a></li>
            <li><a href="https://www.twitter.com/h42i" target="_blank"><i class="twitter"></i>Twitter</a></li>
            <li><a href="https://www.flattr.com/profile/h42i" target="_blank"><i class="flattr"></i>Flattr</a></li>
        </ul>

    </article>
</aside>
<section class="wside">
    <!--<article>
        <header><h1>news</h1></header>
        {% for post in site.posts limit: 4 %}
            <h3><a href="{{ post.url }}">{{ post.category}} : {{ post.title }}</a></h3>
        {% endfor %}
    </article>-->
</section>
<aside>
    <article>
<!--        <header><h1>status</h1></header>
        <img src="http://stats.l3kn.de/api/image" alt="Stausanzeige"> -->
    </article>
<!--     <article>
        <header><h1>search</h1></header>
        {% include search.html %}
    </article> -->
</aside>


