$small:  1024px 
$medium: 1500px

@mixin bp-large
  @media only screen and (max-width: $large)
    @content

@mixin bp-medium
  @media only screen and (max-width: $medium)
    @content

.s-hidden
  @include bp-small
    display: none

.m-hidden
  @include bp-medium
    display: none
