@import "fonts"
@import "_breakpoints"

// variables
$color_back: #1D1717
$color_back_light: #303030  
$color_text: white
$color_text_highlight: white
$color_text_light: white
$color_text_contrast: #55d400
$color_back_contrast: #55d400

*, *:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  background: url(/images/LED-Throwies.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  @include bp-medium
    background: none

// basic
body
  display: flex
  flex-direction: column
  background: #ecf0f1
  
  min-height: 100vh
  width: 100%
  max-width: 60em
  
  font: normal 16pt/1.5 'Source Sans Pro', sans-serif
  font-size: 100%
  color: #222
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5)
  margin: 120px auto 0px auto
  @include bp-medium
    margin: 0
  > header
    position: relative
    min-height: 60px
    background: #242424
    display: flex
    display: -webkit-flex
    flex-direction: row
    -webkit-flex-align: center
    -webkit-align-items: center
    align-items: center
    @include bp-medium
      flex-direction: column
  > main
    flex: 1
    display: block
    padding: 10px 2em 10px 2em
  > footer
    background: #242424
    nav
      padding: 5px 0
      width: 100%
      background: lighten(#242424, 10%)
      text-align: right
    a
      padding-left: 10px
      color: $color_text_light
      &:hover
        color: $color_text_contrast
        text-decoration: none
   
.social
  display: flex
  padding: 10px 0
  @include bp-small
    display: block
    text-align: center
  a
    text-align: center
    width: 33%
    i
      font-size: 4em
      margin: 0
    p
      margin-top: -1em

#slider
  margin: -10px -2em -10px -2em
  height: 300px
  overflow: hidden
  position: relative
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-image: url("/images/slider/slide1.jpg")
  .progress
    position: absolute
    bottom: 0px
    left: 0px
    background: rgba(255,255,255,0.4)
    height: 5px
    z-index: 20

#Logo
  position: absolute
  top: -115px
  right: 50px
  height: 110px
  width: 130px

header > nav
  width: 100%
  text-align: right
  margin-right: 2em
  font-size: 1rem
  @include bp-small
    margin-right: 0
  a
    display: inline-block
    padding: 6px 13px
    color: $color_text_light
    line-height: 100%
    &:hover
      background: $color_back
      text-decoration: none
    @include bp-small
      display: block
      width: 100%
      padding: 10px 0
  @include bp-medium
    text-align: center

#Menu-button
  display: none
  &:checked ~ #Menu-wrapper
    display: block
 
#Menu-label
  display: none
  text-align: center
  font-size: 1.5em
  color: white
  @include bp-medium
    display: block
      
#Menu-wrapper
  display: block
  @include bp-medium
    display: none

#heading
  @include bp-medium
    width: 100%
  margin: 0.5em 0 0.5em 2em
  text-align: left
  min-width: 14em
  h1
    color: $color_text_light
    margin: 0
    font-size: 240%
    padding: 0
    line-height: 1.0
  p
    font-weight: bold  
    margin: 0
    color: $color_text_contrast

// text styling

a
  text-decoration: none
  color: #4183c4 
  &:hover
    text-decoration: underline

h1, h2, h3, h4, h5, h6
  a
    color: inherit
    
h1
  font-size: 1.7rem
  color: black

h2
  font-size: 1.5em
  border-bottom: 1px solid #cccccc
  color: black

h3
  font-size: 1.3rem

h4
  font-size: 1.2rem

h5
  font-size: 1.1rem

h6
  color: #777777
  font-size: 1rem

.flex  
  display: flex
  flex-direction: column
  section, article
    flex: 1

ul 
  text-indent: 0 
  list-style-type: none
  margin-left: 0

.active
  font-weight: bold

iframe
  width: 100%
  height: 50vh
// helper

.group:after
  content: ""
  display: table
  clear: both

.img-left
  max-width: 40%
  float: left
  margin: 0 20px 0 0

.full
  width: 100%

.half
  flex: 1
  width: 150px
  margin: 20px
  height: 400px
  
.hidden
  opacity: 0

.m-hidden
  @include bp-small
    display: none
  
input, textarea
  color: $color_back_light

table
  padding: 0
  tr
    margin: 0
    padding: 0
    &:nth-child(2n-1)
      background: rgba(0, 0, 0, .05)
    td, th
      margin: 0
      padding: 6px 13px
    th
      font-weight: bold
    th :first-child, td :first-child
      margin-top: 0
    th :last-child, td :last-child
      margin-bottom: 0

code
  background-color: #999
  padding: 1px 3px
  font-size: 90%
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px

img
  max-width: 100%
  margin: 15px

.break
  font-weight: bold

.button
  background: #999
  color: $color_text_light
  padding: 3px 10px
  margin-right: 10px
  &:hover
    color: $color_text_highlight

[data-icon]:before
  font-family: "icons"   
  font-style: normal
  margin-left: 5px
  content: attr(data-icon)

  -webkit-font-feature-settings: "liga"
  -moz-font-feature-settings: "liga=1"
  -moz-font-feature-settings: "liga"
  -ms-font-feature-settings: "liga" 1
  -o-font-feature-settings: "liga"
  font-feature-settings: "liga"
