// Mobile first
// mobile: 0 - 768px
// tablet: 768 - 1024px
// desktop 1024px - 1440px
// wide desktop 1440px - ... 

// variables
$color_back: white
$color_back_light: #EEEEEE 
$color_text: #404040
$color_text_highlight: #666666
$color_text_light: white
$color_text_contrast: #61CDF5
$color_back_contrast: #61CDF5

// fonts
@font-face
  font-family: "icons"
  src: url(asset_path('icomoon.ttf'))

// basic
*
  margin: 0
  padding: 0

html, button, input, select, textarea 
  color: $color_text

body 
  font-family: ff-din-web-condensed, helvetica, sans-serif
  font-weight: 400
  font-size: 100%
  color: $color_text

#page-header
  background: $color_back_light
  padding: 0.5em
  margin: 0

#wrapper
  background: $color_back

#main
  padding: 2em

footer
  background: $color_back_contrast
  padding: 0.5em
  a
    color: $color_text_light
    &:hover
      color: $color_text_highlight

nav
  width: 100%
  font-size: 200%
  text-transform: lowercase
  text-align: center
  ul
    margin: 0.5em 0
  li
    width: 90%
    &:before 
      content: "{ "
      color: $color_back_contrast
    &:after
      content: " }"
      color: $color_back_contrast

article
  text-align: justify

aside
  ul
    list-style: none
    padding: 0

.post
  margin-bottom: 2em
  padding-bottom: 1em
  border-bottom: 5px solid $color_back_light

#social
  font-size: 1.5em
// helper

.group:after
  content: ""
  display: table
  clear: both

.m-hidden
  display: none
// text styling

a
  text-decoration: none
  color: $color_text_highlight
  &:hover
    color: $color_text_contrast

table
  margin: 10px 0 15px 0
  border-collapse: collapse

td, th
  border: 1px solid #ddd
  padding: 3px 10px

th
  padding: 5px 10px

code
  background-color: $color_back_light
  padding: 1px 3px
  font-size: 90%
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px

// media foo
// 
@media screen and (min-width: 768px)
  .m-hidden
    display: block
  .post
    border-bottom: none
    border-right: 5px solid $color_back_light
    padding-right: 1%
  .wside
    float: left
    width: 69%
  aside
    padding-left: 2%
    float: left
    width: 27%

  nav
    text-align: right
    li
      display: inline
      &:before
        content: "  //  "
        color: $color_back_contrast
      &:first-child 
        &:before
          content: none 
      &:after
        content: none

.tag
  float: left
  background: $color_back_contrast
  color: $color_text_light
  padding: 5px
  margin: 5px 0 0px 5px
  &:hover
    color: $color_text_highlight

.button
  float: left
  background: $color_back_light
  color: $color_text_light
  padding: 5px
  margin: 5px 0 0px 5px
  &:hover
    color: $color_text_highlight

@media screen and (min-width: 1024px)
  body
    background-image: url(asset_path('pattern.png'))
  #wrapper
    width: 90%
    margin-left: auto
    margin-right: auto
  article
    margin-left: 3em
  header
    margin-left: -3em

@media screen and (min-width: 1440px)
  #wrapper
    width: 90%
    max-width: 1440px
