// Mobile first
// mobile: 0 - 768px
// tablet: 768 - 1024px
// desktop 1024px - 1440px
// wide desktop 1440px - ... 

// variables
$color_back: #1D1717
$color_back_light: #303030  
$color_text: white
$color_text_highlight: white
$color_text_light: white
$color_text_contrast: #55d400
$color_back_contrast: #55d400

// fonts
@font-face
  font-family: "icons"
  src: url(asset_path('icomoon.ttf'))

// basic
*
  margin: 0
  padding: 0

body 
  background: #E4E3DE
  font-family: 'PT Sans', sans-serif
  font-weight: 200
  font-size: 100%
  color: $color_text

#page-header
  padding: 1em
  margin: 0
  background-color: darken($color_back_contrast, 10%)
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%)
  background-size: 13px, 29px, 37px, 53px
  h1
    color: $color_text_light
  p
    margin: 0
    margin-left: 8px

#wrapper
  background: $color_back

#main
  padding: 0.5em 2em

footer
  background: $color_back_light
  padding: 0.5em
  a
    color: $color_text_light
    &:hover
      color: $color_text_contrast

nav
  width: 100%
  font-size: 1.0em
  text-align: center
  background: $color_back_light
  ul
    padding: 1px 0
    margin: 0
    display: block
  li
    margin: 0.2em
    padding: 10px
    background: $color_back
    &:hover
      background: $color_back_contrast
  a
    width: 100%
    color: $color_text_light

aside
  ul
    list-style: none
    padding: 0

audio
  width: 100%
  
.post
  margin-bottom: 2em
  padding-bottom: 1em
  border-bottom: 5px solid $color_back_light

#social
  font-size: 1.5em
// helper

.group:after
  content: ""
  display: table
  clear: both

.m-hidden
  display: none

.huge
  font-size: 3em
  margin: 0.1em

input, textarea
  color: $color_back_light

// text styling

a
  text-decoration: none
  color: $color_text_contrast
  &:hover
    color: $color_text_highlight

table
  margin: 10px 0 15px 0
  border-collapse: collapse

td, th
  border: 1px solid #ddd
  padding: 3px 10px

th
  padding: 5px 10px

code
  background-color: $color_back_light
  padding: 1px 3px
  font-size: 90%
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px

// media foo

@media screen and (min-width: 768px)
  .m-hidden
    display: block
  .post
    border-bottom: none
    padding-right: 1%
  .wside
    float: left
    width: 69%
  aside
    padding-left: 2%
    float: left
    width: 27%

  nav
    text-align: left
    ul
      padding: 10px 0
    li
      display: inline
    a
      width: auto

.tag
  float: left
  background: $color_back_contrast
  color: $color_text_light
  padding: 5px
  margin: 5px 0 0px 5px
  &:hover
    color: $color_text_highlight

.button
  float: left
  background: $color_back_light
  color: $color_text_light
  padding: 5px
  margin: 10px 5px 10px 5px
  &:hover
    color: $color_text_highlight

@media screen and (min-width: 1024px)
  body
    // background-image: url(asset_path('pattern.png'))
  #wrapper
    width: 90%
    margin-left: auto
    margin-right: auto

@media screen and (min-width: 1440px)
  #wrapper
    width: 90%
    max-width: 1440px
