$color_text_highlight: white
$color_back_contrast: #55d400

.paypalform
  color: white
  padding-left: 10px
  &:before
    content: '\23'
    font-family: "icons"
    font-style: normal
  &:hover
    color: $color_back_contrast

.paypal
  color: white
  border: none
  background: none
  
  font: inherit
  font-size: 100%
  line-height: 100%
  padding: 0
  -webkit-font-smoothing: antialiased
  font-family: 'Source Sans Pro', sans-serif
  &:hover
    color: $color_back_contrast