$color_text_highlight: white
$color_back_contrast: #55d400

.paypal-form
  color: black
  padding-left: 10px
  &:hover
    color: $color_back_contrast

.paypal-submit
  border: none
  background: none
  font: inherit
  font-size: 100%
  line-height: 100%
  padding: 0
  -webkit-font-smoothing: antialiased
  font-family: 'Source Sans Pro', sans-serif
