<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include head.html %}
  </head>
  <body lang="de">
    <!--[if lt IE 9]>
	<h1 class="oldbrowserframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h1>
	<![endif]-->
    <header>
      <img id="Logo" class="m-hidden" src="http://raumstatus.hasi.it/logo.svg">
      <section id="heading">
        <h1>Hasi</h1>
        <p>Dein Hackspace in Siegen</p>
      </section>
      <nav>
      {% assign url = page.url|remove:'index.html' %}
      {% for link in site.navigation %}
        <a href="{{link.url}}" {% if url == link.url %}class="active"{% endif %}>{{ link.title }}</a>{{ link.break }}
      {% endfor %}
      </nav>
    </header>
    <main class="group">
      {{ content }}
    </main>
    <footer>
    <nav>
    {% for link in site.navigation_bottom %}
      <a href="{{link.url}}">{{ link.title }}</a>
    {% endfor %}
    </nav>
    <section class="social">
      <a href="https://www.github.com/h42i" target="_blank">
        <i class="github"></i>
        <p>Github</p>
      </a>
      <a href="https://www.twitter.com/h42i" target="_blank">
        <i class="twitter"></i>
        <p>Twitter</p>
      </a>
      <a href="https://www.flattr.com/profile/h42i" target="_blank">
        <i class="flattr"></i>
        <p>Flattr</p>
      </a>
      <!--
      {% include paypal.html %}</li>
      <a href="http://hasi.it/wiki/images/f/f7/Beitrittsformular.pdf" target="_blank">Mitglied werden</a></li>
      -->
    </section>
    </footer>
    {% if site.environment == 'production' %}{% include piwik.html %}{% endif %}
  </body>
</html>
