<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include head.html %}
  </head>
  <body lang="de">
    <!--[if lt IE 9]>
	<h1 class="oldbrowserframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h1>
	<![endif]-->
    <header>
      <section class="Logo">
        <h1>Hasi</h1>
        <p>Dein Hackspace in Siegen</p>
      </section>
        <nav>
        {% assign url = page.url|remove:'index.html' %}
        {% for link in site.navigation %}
          <a href="{{link.url}}" {% if url == link.url %}class="active"{% endif %}>{{ link.title }}</a>{{ link.break }}
        {% endfor %}
        </nav>
    </header>
    <main class="group">
      {{ content }}
    </main>
    <footer>
    {% for link in site.navigation_bottom %}
      <a href="{{link.url}}">{{ link.title }}</a>
    {% endfor %}
    </footer>
    {% if site.environment == 'production' %}{% include piwik.html %}{% endif %}
  </body>
</html>

<!--
      <h1 class="huge">{{ site.name }}</h1>
      <p>{{ site.description }}</p>
      <img src="/images/pixelhasi-halb.gif" alt="halbes hasi ;)">
      
       -->