---
layout: default
---

<!--
l3 default layout for a single blogpage
-->

<article>
	<header>
		<h1>{{ page.title }}</h1>
	</header>	
	{{ content}}
</article>
{% include social.html %}	
{% if page.talk.file %}
<aside>
	<article class="group">
		<header><h2>media</h2></header>
		<audio controls>
			<source src={{ page.talk.file }} type="audio/mpeg">
			Your browser does not support this audio format.
		</audio>
		<a href="{{ page.talk.file }}" class="button">Play (or download)</a>
	</article>
</aside>
{% endif %}


