{% if post %}
    {% assign this = post %}
{% else %}
    {% assign this = page %}
{% endif %}

<div class="pull-right">
	<ul>
		<li><a href="https://twitter.com/intent/tweet?url=http://hasi.it{{ this.url }}&via=h42i" target="_blank"><i class="twitter"></i>Tweet</a></li>
		<li><a href="https://flattr.com/submit/auto?user_id=h42i&url=http://hasi.it{{ this.url }}&title={{ this.title }}" target="_blank"><i class="flattr"></i>Flattr this</a></li>
    <li><a href="http://hasi.it/feed.xml" target="_blank"></i>Blog-Feed</a></li>
		<li><a href="http://hasi.it/episodes.mp3.rss" target="_blank"></i>Podcast-Feed</a></li>
	  <li><a href="https://itunes.apple.com/de/podcast/hasi-talks/id689712949?mt=2" target="_blank"></i>Podcast bei iTunes</a></li
 </ul>
</div>
